@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Slabo+27px');
@import url('../fonts/font-awesome/css/font-awesome.css');
html {
	font-size: 100%;
}
/*-------BODY-------------*/
body {
     font-family: 'Libre Baskerville', serif;
     background-size: cover;
     font-size: 1.2rem;
     margin: 0 10px 10px 10px;
}
/*----------HEADER--------------*/
#title {
	background: url(../images/IMG-8415.JPG) no-repeat center center;
	background-size: cover;
	max-width: 100%;
	height: auto;
	font-family: 'Roboto Slab', serif;
	color: green;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 2px 2px yellow;
	display: block;
	font-size: 1.5rem;
	box-sizing: border-box;
	margin-top: -25px;
	line-height: normal;
	border: 5px outset gray;
	border-radius: 10px;
}

.container {
	padding-left: 40px;
	padding-right: 40px;
	box-sizing:border-box;
	margin: 0 auto;
	max-width: 1200px;
}
a {
	color: red;
}
a:visited {
	color: rgb(200, 100, 200);
}
a:hover {
	color:gray;
}
a:clicked{
	color: blue;
}
a:active {
	color: yellow;
}
footer {
   bottom:0;
   width:100%;  /* Height of the footer */
   background:#6cf;
   margin-bottom: 0;
   padding-bottom: 3px;
}
nav {
    font-family: 'Slabo 27px', serif;
    background-color: black;
    height:auto;
    box-sizing: border-box;
}
nav {
	margin-top: -30px;
	border-right: 3px;
	border-bottom: 3px;
	border-left: 3px;
	border-top: 0px;
	border-style: solid;
	border-color: gray;
}
nav li {
  display: inline-block;
  margin-right: 25px;
}
nav ul li a{
    background: radial-gradient(pink, rgb(120, 180, 180));
    border: 4px inset powderblue;
    padding: 15px;
    border-radius: 10px 30px;
}
nav ul li a:hover{
    box-shadow: 0px 20px 20px #777;
}
img.responsive{
    max-width: 100%;
    height: auto;
    border-width: 10px 4px;
    border-radius:10px 40px;
    border-style: outset;
    max-width: 100%;
    max-height: 100%;
}
.left {
    float: left;
}